<h1 class="text-center mb-4"><%= t("views.static_pages.rule.title") %></h1>
<div class="rule">
  <p><%= t("views.static_pages.rule.description") %></p>
  <% t("views.static_pages.rule.content").each do |rule| %>
    <h2 class="text-center mb-4"><%= rule[1][:heading] %></h2>
    <% rule[1][:content].each do |content| %>
      <p><%= content %></p>
    <% end %>
  <% end %>
</div>
