<h1 class="text-center mb-4">利用ルール</h1>
<div class="rule">
  <p>多くのユーザーが気持ちよく利用出来るよう、以下のルールに従い利用するようにしてください。</p>
  <h2 class="text-center mb-4">嫌がらせや誹謗中傷になるような書き込みをしない</h2>
  <p>あくまで楽曲や楽曲探しを楽しむ為のサービスであり、楽曲やアーティスト、誰かに害を与えるような言動を行う為のサービスではありません。</p>
  <p>サービス内で残せる書き込みやユーザー名に至るまで、目について誰かが不快にならないかをよく考えた上でご利用ください。</p>
  <p>書き込みやユーザーなどに問題が発覚した場合は運営側で修正や削除対応、アクセス制限やその他然るべき対応を取らせていただきます。</p>
  <h2 class="text-center mb-4">ユーザー登録について</h2>
  <p>musimではユーザーアカウントを登録することで楽曲データの登録や評価機能、ソート機能などの利用が可能になります。</p>
  <p>より一層楽曲探しが楽しくなるかと思いますのでぜひご利用ください。</p>
  <p>ログインやアカウント登録に必要なメールアドレス・パスワードは適切な管理の元、安全にご利用ください。</p>
  <h2 class="text-center mb-4">サービスに関する質問や問い合わせについて</h2>
  <p>開発者ページより運営・開発者のウェブサイトやX(Twitter)へアクセスすることが可能ですのでそちらからお気軽にご相談ください。</p>
</div>
