<div>
  <h1 class="text-center mb-4">検索結果</h1>
  <div class="mb-4">
    <% if @song_pairs.blank? %>
      <div class="text-center mb-3">
        <p>楽曲が見つかりませんでした。</p>
      </div>
      <% if logged_in? %>
        <div class="normal-button d-flex justify-content-center">
          <%= link_to "楽曲を登録する", new_song_pair_path, class: "btn" %>
        </div>
      <% else %>
        <div class="normal-button d-flex justify-content-center">
          <%= link_to "アカウント登録・ログインをして楽曲を登録", login_path, class: "btn" %>
        </div>
      <% end %>
    <% else %>
      <%= render "shared/song_block", song_pairs: @song_pairs %>
    <% end %>
  </div>
</div>