<% set_meta_tags(title: t("views.song_pairs.popularity.title")) %>
<% set_meta_tags(og: { title: t("views.song_pairs.popularity.title") }) %>
<div>
  <h1 class="text-center mb-4"><%= t("views.song_pairs.popularity.title") %></h1>
  <div class="d-flex justify-content-center mb-4">
    <%= render "shared/filter", categories: @categories %>
  </div>
  <div class="mb-4">
    <%= render "shared/song_pair_block", song_pairs: @song_pairs %>
    <%= paginate @song_pairs %>
  </div>
</div>