<div>
  <h1 class="text-center mb-4">最近登録された曲</h1>
  <div class="d-flex justify-content-center mb-4">
    <%= render "shared/filter", categories: @categories %>
  </div>
  <div class="mb-4">
    <%= render "shared/song_pair_block", song_pairs: @song_pairs %>
    <%= paginate @song_pairs %>
  </div>
</div>