<%= form_with method: :get, local: true, class: "mb-4" do %>
  <div class="d-flex align-items-center">
    <%= label_tag :category, "カテゴリー:" %>
    <%= select_tag "q[similarity_category_id_eq]", options_from_collection_for_select(SimilarityCategory.all, :id, :name, params.dig(:q, :similarity_category_id_eq)), include_blank: "全て", onchange: "this.form.submit()", class: "mx-2" %>
  </div>
<% end %>