<div class="song-block d-flex align-items-center mb-3">
  <div class="song-jacket d-flex align-items-center justify-content-center flex-shrink-0 me-3">
    jacket
  </div>
  <div class="song-title">
    <h3 class="mb-1"><%= link_to "#{pair_song.artist_list} - #{pair_song.title}", song.song_pair(pair_song), class: "text-dark" %></h3>
  </div>
</div>