<div class="mb-4 song-info-block">
  <h3><%= song.title %></h3>
  <p>アーティスト名: <%= song.artist_list %></p>
  <p>リリース年: <%= song.release_date %></p>
  <% if media_widget %>
    <%= render 'shared/media_widget', song: song %>
  <% end %>
</div>