<h1 class="text-center mb-4"><%= t("views.songs.show.title") %></h1>
<%= render 'song_info', song: @song, media_widget: false %>
<div>
  <h4 class="text-center mb-4">こ<%= t("views.songs.show.heading.melody") %></h4>
  <%= render 'song_block', song: @song, pair_song_list: @pair_song_list %>
</div>