<h1 class="text-center mb-4">楽曲情報</h1>
<%= render 'song_info', song: @song, media_widget: false %>
<div>
  <h4 class="text-center mb-4">この曲とジャンル・スタイルが似てる曲</h4>
  <%= render 'song_block', song: @song, pair_song_list: @pair_song_list %>
</div>