<h1 class="text-center mb-4">楽曲情報</h1>
<div class="mb-4 song-info-block">
  <h3><%= @song.title %></h3>
  <p>アーティスト名: 
    <% @song.artists.each do |artist| %>
      <%= artist.name %>
    <% end %>
  </p>
  <p>リリース年: <%= @song.release_date %></p>
</div>
<div>
  <h4 class="text-center mb-4">この曲とジャンル・スタイルが似てる曲</h4>
  <%= render 'shared/song_block', song: @song, similarity_category: 'style', maximum: 0 %>
</div>