// Entry point for your Sass build
$fa-font-path: "/assets/font-awesome";
@import "font-awesome";

.btn {
    background-color: #FF7171;
    color: #000;
}

.btn-primary {
    --bs-btn-bg: #FF7171;
    --bs-btn-border-color: #FF7171;
    --bs-btn-hover-bg: #FF7171;
    --bs-btn-hover-border-color: #FF7171;
    --bs-btn-active-bg: #FF7171;
    --bs-btn-active-border-color: #FF7171;
    --bs-btn-disabled-bg: #FF7171;
    --bs-btn-disabled-border-color: #FF7171;
}

label {
    white-space: nowrap;
}

.sort-filter-selectors {
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
        display: block;
    }
}

.sort-select {
    margin-right: 5px;
    select {
        margin-left: 5px;
    }
    @media (max-width: 768px) {
        margin-right: 0;
        margin-bottom: 5px;
    }
}

.filter-select {
    select {
        margin-left: 5px;
    }
}

.container {
    max-width: 1000px;
}

iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    @media (max-width: 768px) {
        width: 320px;
        height: 180px;
    }
}

body {
    background-color: #313338;
}

main {
    color: #fff;
    margin-bottom: 30px;
}

footer {
    background-color: #1E1F22;
}

.navbar {
    background-color: #1E1F22;
}

.header-image {
    height: 350px;
    background: url('cover.jpg') center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        color: #FF7171;
    }
    @media (max-width: 576px) {
        height: 175px;
    }
}

.song-block,.song-pair-block {
    background-color: #fff;
    color: #000;
    height: 75px;
    border-radius: 7px;
    margin-bottom: 10px;
    display: flex;
    .song-jacket-container {
        border-radius: 7px 0px 0px 7px;
        width: 75px;
        height: 75px;
        overflow: hidden;
        position: relative;
        .song-jacket {
            clip-path: inset(45px 105px 45px 105px);
            transform: scale(0.28);
            object-fit: cover;
        }
    }
    @media (max-width: 768px) {
        h3 {
            font-size: 1rem;
        }
        p {
            font-size: 0.5rem;
        }
    }
}

.song-info-block {
    background-color: #fff;
    color: #000;
    border-radius: 7px;
    padding: 1em 2em;
    p {
        margin-bottom: 0;
    }
    @media (max-width: 425px) {
        h3 {
            font-size: 1em;
        }
        h5 {
            font-size: 1em;
        }
        p {
            font-size: 0.8em;
        }
        padding: 1em 1em;
    }
    .song-info {
        min-height: 96px;
        @media (max-width: 425px) {
            min-height: 70px;
        }
    }
    .song-jacket-container {
        background-color: #FF7171;
        border-radius: 7px;
        width: 96px;
        height: 96px;
        overflow: hidden;
        position: relative;
        .song-jacket {
            position: absolute;
            top: 50%;
            left: 50%;
            clip-path: inset(45px 105px 45px 105px);
            transform: translate(-50%, -50%) scale(0.4);
            object-fit: cover;
        }
        @media (max-width: 425px) {
            width: 70px;
            height: 70px;
        }
    }
    .song-description {
        p {
            min-height: 3em;
        }
    }
}

.media-widget {
    margin-top: 1em;
}

.song-category {
    margin-right: 10px;
    @media (max-width: 576px) {
        font-size: 0.5rem;
    }
}

.more-button {
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 30%;
    background-color: #FF7171;
    border-radius: 7px;
    align-items: center;
    @media (max-width: 1024px) {
        width: 100%;
        white-space: nowrap;
    }
}


.normal-button {
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 30%;
    background-color: #FF7171;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    @media (max-width: 1024px) {
        width: 100%;
        white-space: nowrap;
    }
}

.evaluate-button {
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 30%;
    background-color: #FF7171;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media (max-width: 1024px) {
        width: 100%;
        white-space: nowrap;
    }
    p {
        margin: 0;
    }
}

.pagination {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.paginate-button {
    height: 60px;
    width: 10%;
    background-color: #FF7171;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 3px;
    @media (max-width: 425px) {
        padding: 0 0.8em;
        width: auto;
        white-space: nowrap;
    }
}


.paginate-button-page {
    height: 60px;
    width: 60px;
    background-color: #FFCACA;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 3px;
}

.current {
    background-color: #FF7171;
}

.alert {
    border-radius: 0;
}

.hidden {
    display: none;
}