// Entry point for your Sass build
@media (max-width: 576px) {
    h3 {
        font-size: 1rem;
    }
    p {
        font-size: 0.5rem;
    }
    iframe {
        width: 320px;
        height: 180px;
    }
}

.container {
    max-width: 1000px;
}

iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}

body {
    background-color: #313338;
}

main {
    color: #fff;
    margin-bottom: 30px;
}

footer {
    background-color: #1E1F22;
}

.navbar {
    background-color: #1E1F22;
}

// .main-area {
//     margin-left: auto;
//     margin-right: auto;
//     width: 60%;
//     max-width: 1200px;
// }

.header-image {
    height: 350px;
    background: url('cover.jpg') center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        color: #FF7171;
    }
    @media (max-width: 576px) {
        height: 175px;
    }
}

.song-block,.song-pair-block {
    background-color: #fff;
    color: #000;
    height: 75px;
    border-radius: 7px;
    margin-bottom: 10px;
    display: flex;
    .song-jacket-container {
        border-radius: 7px 0px 0px 7px;
        width: 75px;
        height: 75px;
        overflow: hidden;
        position: relative;
        .song-jacket {
            clip-path: inset(45px 105px 45px 105px);
            transform: scale(0.28);
            object-fit: cover;
        }
    }
}

.song-info-block {
    background-color: #fff;
    color: #000;
    border-radius: 7px;
    padding: 1em 2em;
    p {
        margin-bottom: 0;
    }
    .song-info {
        height: 96px;
    }
    .song-jacket-container {
        background-color: #FF7171;
        border-radius: 7px;
        width: 96px;
        height: 96px;
        overflow: hidden;
        position: relative;
        .song-jacket {
            position: absolute;
            top: 50%;
            left: 50%;
            clip-path: inset(45px 105px 45px 105px);
            transform: translate(-50%, -50%) scale(0.4);
            object-fit: cover;
        }
    }
    .song-description {
        p {
            min-height: 3em;
        }
    }
}

.media-widget {
    margin-top: 1em;
}

.song-category {
    margin-right: 10px;
    @media (max-width: 576px) {
        font-size: 0.5rem;
    }
}

.more-button {
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 30%;
    background-color: #FF7171;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
}

.normal-button {
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 30%;
    background-color: #FF7171;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
}

.alert {
    border-radius: 0;
}